In [1]:
import duckdb
import pandas as pd

In [22]:
sql_query = '''

    SELECT
        *
    FROM
        bronze_parking_violation
    WHERE
        summons_number IS NOT NULL


'''

with duckdb.connect("data/nyc_parking_violations.db") as con:
    display(con.sql(sql_query).df())

,summons_number,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,vehicle_expiration_date,violation_location,violation_precinct,issuer_precinct,issuer_code,issuer_command,issuer_squad,violation_time,violation_county,violation_legal_code,vehicle_color,vehicle_year
0,9010912681,CA,PAS,2022-10-11,17,SUBN,FORD,T,20220788,50,50,50,365910,T201,D,0825A,BX,<NA>,BLACK,0
1,4858762841,NY,PAS,2023-08-21,36,4DSD,HONDA,V,0,<NA>,0,0,0,None,None,1036A,BK,True,GY,2003
2,4854645684,FL,PAS,2023-07-26,36,UT,BMW,V,0,<NA>,0,0,0,None,None,0126P,QN,True,WHI,2022
3,9044582707,NY,PAS,2023-04-10,21,SUBN,SUBAR,T,20231217,79,79,79,370326,T301,H,0924A,K,<NA>,GY,2017
4,9041503330,NY,PAS,2023-03-21,21,4DSD,CHEVR,T,20250320,26,26,26,373097,T103,C,1155A,NY,<NA>,BK,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,9069356715,NY,COM,2023-08-07,21,VAN,FORD,T,20240831,30,30,30,361887,T103,II,1121A,NY,<NA>,YW,2016
99996,4802425399,NY,OMS,2022-09-25,36,SUBN,CHEVR,V,0,<NA>,0,0,0,None,None,0214P,BX,True,WH,2021
99997,4809109689,NY,ORG,2022-10-28,36,SUBN,NISSA,V,0,<NA>,0,0,0,None,None,0915A,MN,True,GY,2020
99998,4834558370,NY,PAS,2023-04-04,36,4DSD,LEXUS,V,0,<NA>,0,0,0,None,None,0416P,BK,True,BK,2002
99999,4837284462,NY,PAS,2023-04-21,36,4DSD,KIA,V,0,<NA>,0,0,0,None,None,0606P,ST,True,WH,2020

In [ ]:
# sql_query_import_1 = '''
# CREATE OR REPLACE TABLE nyc_parking_violation_codes AS
# SELECT *
# FROM read_csv_auto(
#     "data/dof_parking_violation_codes.csv",
#     normalize_names=True
#     )
# '''

# sql_query_import_2 = '''
# CREATE OR REPLACE TABLE parking_violation_2023 AS
# SELECT *
# FROM read_csv_auto(
#     "data/parking_violations_issued_fiscal_year_2023_sample.csv",
#     normalize_names=True
#     )
# '''

# with duckdb.connect("data/nyc_parking_violations.db") as con:
#     con.sql(sql_query_import_1)
#     con.sql(sql_query_import_2)