In [10]:
import duckdb
import pandas as pd

In [12]:
sql_query = '''
show tables
'''

with duckdb.connect("data/nyc_parking_violations.db") as con:
    display(con.sql(sql_query).df())

Empty DataFrame
Columns: [name]
Index: []